<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WeiXin</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.adminServlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiKuQueryAllServlet</display-name>
    <servlet-name>TiKuQueryAllServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.TiKuQueryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiKuQueryAllServlet</servlet-name>
    <url-pattern>/tikuQueryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiKuAddServlet</display-name>
    <servlet-name>TiKuAddServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.TiKuAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiKuAddServlet</servlet-name>
    <url-pattern>/tikuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiKuEditServlet</display-name>
    <servlet-name>TiKuEditServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.TiKuEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiKuEditServlet</servlet-name>
    <url-pattern>/tikuEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiKuDelServlet</display-name>
    <servlet-name>TiKuDelServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.TiKuDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiKuDelServlet</servlet-name>
    <url-pattern>/tikuDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiMuQueryAllServlet</display-name>
    <servlet-name>TiMuQueryAllServlet</servlet-name>
    <servlet-class>servlet.timuServlet.TiMuQueryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiMuQueryAllServlet</servlet-name>
    <url-pattern>/timuQueryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiMuAddServlet</display-name>
    <servlet-name>TiMuAddServlet</servlet-name>
    <servlet-class>servlet.timuServlet.TiMuAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiMuAddServlet</servlet-name>
    <url-pattern>/timuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiMuEditServlet</display-name>
    <servlet-name>TiMuEditServlet</servlet-name>
    <servlet-class>servlet.timuServlet.TiMuEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiMuEditServlet</servlet-name>
    <url-pattern>/timuEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TiMuDelServlet</display-name>
    <servlet-name>TiMuDelServlet</servlet-name>
    <servlet-class>servlet.timuServlet.TiMuDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TiMuDelServlet</servlet-name>
    <url-pattern>/timuDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSGQueryAllServlet</display-name>
    <servlet-name>MSGQueryAllServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSGQueryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGQueryAllServlet</servlet-name>
    <url-pattern>/msgQueryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSGAddServlet</display-name>
    <servlet-name>MSGAddServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSGAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGAddServlet</servlet-name>
    <url-pattern>/msgAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSGEditServlet</display-name>
    <servlet-name>MSGEditServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSGEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGEditServlet</servlet-name>
    <url-pattern>/msgEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSGDelServlet</display-name>
    <servlet-name>MSGDelServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSGDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGDelServlet</servlet-name>
    <url-pattern>/msgDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KCQueryAllServlet</display-name>
    <servlet-name>KCQueryAllServlet</servlet-name>
    <servlet-class>servlet.kcServlet.KCQueryAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KCQueryAllServlet</servlet-name>
    <url-pattern>/kcQueryAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KCAddServlet</display-name>
    <servlet-name>KCAddServlet</servlet-name>
    <servlet-class>servlet.kcServlet.KCAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KCAddServlet</servlet-name>
    <url-pattern>/kcAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KCEditServlet</display-name>
    <servlet-name>KCEditServlet</servlet-name>
    <servlet-class>servlet.kcServlet.KCEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KCEditServlet</servlet-name>
    <url-pattern>/kcEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KCDelServlet</display-name>
    <servlet-name>KCDelServlet</servlet-name>
    <servlet-class>servlet.kcServlet.KCDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KCDelServlet</servlet-name>
    <url-pattern>/kcDelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRLoginServlet</display-name>
    <servlet-name>HRLoginServlet</servlet-name>
    <servlet-class>servlet.hrServlet.HRLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRLoginServlet</servlet-name>
    <url-pattern>/hrLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeiXinServlet</display-name>
    <servlet-name>WeiXinServlet</servlet-name>
    <servlet-class>servlet.WeiXinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeiXinServlet</servlet-name>
    <url-pattern>/WeiXinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OAuthServlet</display-name>
    <servlet-name>OAuthServlet</servlet-name>
    <servlet-class>servlet.OAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuthServlet</servlet-name>
    <url-pattern>/OAuthServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KC_infoServlet</display-name>
    <servlet-name>KC_infoServlet</servlet-name>
    <servlet-class>servlet.hrServlet.KC_infoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KC_infoServlet</servlet-name>
    <url-pattern>/KC_infoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KC_EditServlet</display-name>
    <servlet-name>KC_EditServlet</servlet-name>
    <servlet-class>servlet.hrServlet.KC_EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KC_EditServlet</servlet-name>
    <url-pattern>/KC_EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryMSG_KCServlet</display-name>
    <servlet-name>QueryMSG_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.QueryMSG_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMSG_KCServlet</servlet-name>
    <url-pattern>/QueryMSG_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMSG_KCServlet</display-name>
    <servlet-name>AddMSG_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.AddMSG_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMSG_KCServlet</servlet-name>
    <url-pattern>/AddMSG_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelMSG_KCServlet</display-name>
    <servlet-name>DelMSG_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.DelMSG_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelMSG_KCServlet</servlet-name>
    <url-pattern>/DelMSG_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookMSG_KCServlet</display-name>
    <servlet-name>LookMSG_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.LookMSG_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookMSG_KCServlet</servlet-name>
    <url-pattern>/LookMSG_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTK_KCServlet</display-name>
    <servlet-name>AddTK_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.AddTK_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTK_KCServlet</servlet-name>
    <url-pattern>/AddTK_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTK_KCServlet</display-name>
    <servlet-name>QueryTK_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.QueryTK_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTK_KCServlet</servlet-name>
    <url-pattern>/QueryTK_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelTK_KCServlet</display-name>
    <servlet-name>DelTK_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.DelTK_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTK_KCServlet</servlet-name>
    <url-pattern>/DelTK_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookTK_KCServlet</display-name>
    <servlet-name>LookTK_KCServlet</servlet-name>
    <servlet-class>servlet.kcServlet.LookTK_KCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookTK_KCServlet</servlet-name>
    <url-pattern>/LookTK_KCServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryTM_TKServlet</display-name>
    <servlet-name>QueryTM_TKServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.QueryTM_TKServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryTM_TKServlet</servlet-name>
    <url-pattern>/QueryTM_TKServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTM_TKServlet</display-name>
    <servlet-name>AddTM_TKServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.AddTM_TKServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTM_TKServlet</servlet-name>
    <url-pattern>/AddTM_TKServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelTM_TKServlet</display-name>
    <servlet-name>DelTM_TKServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.DelTM_TKServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelTM_TKServlet</servlet-name>
    <url-pattern>/DelTM_TKServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookTM_TKServlet</display-name>
    <servlet-name>LookTM_TKServlet</servlet-name>
    <servlet-class>servlet.tikuServlet.LookTM_TKServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookTM_TKServlet</servlet-name>
    <url-pattern>/LookTM_TKServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserInfoServlet</display-name>
    <servlet-name>AddUserInfoServlet</servlet-name>
    <servlet-class>servlet.usersServlet.AddUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserInfoServlet</servlet-name>
    <url-pattern>/addUserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExamEndServlet</display-name>
    <servlet-name>ExamEndServlet</servlet-name>
    <servlet-class>servlet.usersServlet.ExamEndServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExamEndServlet</servlet-name>
    <url-pattern>/ExamEndServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSGLoginServlet</display-name>
    <servlet-name>MSGLoginServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSGLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGLoginServlet</servlet-name>
    <url-pattern>/MSGLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSGInfoServlet</display-name>
    <servlet-name>MSGInfoServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSGInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSGInfoServlet</servlet-name>
    <url-pattern>/MSGInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSG_EditServlet</display-name>
    <servlet-name>MSG_EditServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSG_EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSG_EditServlet</servlet-name>
    <url-pattern>/MSG_EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>YuJuanServlet</display-name>
    <servlet-name>YuJuanServlet</servlet-name>
    <servlet-class>servlet.msgServlet.YuJuanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YuJuanServlet</servlet-name>
    <url-pattern>/YuJuanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PingYueServlet</display-name>
    <servlet-name>PingYueServlet</servlet-name>
    <servlet-class>servlet.msgServlet.PingYueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PingYueServlet</servlet-name>
    <url-pattern>/PingYueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_NameQueryServlet</display-name>
    <servlet-name>HR_NameQueryServlet</servlet-name>
    <servlet-class>servlet.hrServlet.HR_NameQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_NameQueryServlet</servlet-name>
    <url-pattern>/HR_NameQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MSG_NameQueryServlet</display-name>
    <servlet-name>MSG_NameQueryServlet</servlet-name>
    <servlet-class>servlet.msgServlet.MSG_NameQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MSG_NameQueryServlet</servlet-name>
    <url-pattern>/MSG_NameQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HR_ScoreQueryServlet</display-name>
    <servlet-name>HR_ScoreQueryServlet</servlet-name>
    <servlet-class>servlet.hrServlet.HR_ScoreQueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HR_ScoreQueryServlet</servlet-name>
    <url-pattern>/HR_ScoreQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.adminServlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalysisServlet</display-name>
    <servlet-name>AnalysisServlet</servlet-name>
    <servlet-class>servlet.hrServlet.AnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisServlet</servlet-name>
    <url-pattern>/AnalysisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsPYInfoServlet</display-name>
    <servlet-name>IsPYInfoServlet</servlet-name>
    <servlet-class>servlet.hrServlet.IsPYInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsPYInfoServlet</servlet-name>
    <url-pattern>/isPYInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>servlet.hrServlet.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/ResetServlet</url-pattern>
  </servlet-mapping>
</web-app>